/* Aplicação geral do layout */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0fdf4; /* Fundo verde-claro suave */
    color: #064e3b; /* Verde-escuro para o texto */
    margin: 0;
    padding: 0;
}

/* Estilo da seção de enquete */
.enquete {
    background-color: #ffffff; /* Fundo branco */
    border: 2px solid #10b981; /* Borda verde */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px; /* Largura máxima */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
}

/* Estilo do título da enquete */
.enquete h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #064e3b; /* Verde-escuro */
}

/* Estilo dos botões */
.enquete button {
    background-color: #10b981; /* Verde principal */
    color: #ffffff; /* Texto branco */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.enquete button:hover {
    background-color: #059669; /* Tom de verde mais escuro ao passar o mouse */
    transform: translateY(-3px); /* Efeito de leve elevação */
}

.enquete button:active {
    transform: translateY(1px); /* Reduz o efeito ao clicar */
}

/* Estilo da seção de "Outros" */
.enquete p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #064e3b; /* Verde-escuro */
}

.enquete textarea {
    width: 100%;
    height: 80px;
    border: 2px solid #10b981; /* Borda verde */
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: #064e3b; /* Texto verde-escuro */
    background-color: #ffffff; /* Fundo branco */
    resize: none; /* Remove a possibilidade de redimensionamento */
}

.enquete textarea:focus {
    outline: none;
    border-color: #059669; /* Tom de verde mais escuro ao focar */
    box-shadow: 0 0 8px #10b981;
}
/* Estilo do menu de navegação */
header {
    background-color: #10b981; 
    padding: 5px 0;
    text-align: center;
    border-bottom: 5px solid #064e3b;
}

header h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 5px;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #064e3b;
}

#dudu{

    width: 140px;
    height: 70px;
    }