/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0fdf4; /* Fundo verde-claro */
    color: #064e3b; /* Texto verde-escuro */
    line-height: 1.6;
}

header {
    background-color: #10b981; /* Fundo verde */
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #064e3b; /* Borda de destaque */
}

header h1 {
    color: #ffffff; /* Texto branco */
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    margin: 0 8px;
}

nav ul li a {
    color: #ffffff; /* Texto branco */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #064e3b; /* Verde escuro no hover */
}

/* Estilo do conteúdo principal */
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #064e3b; /* Verde escuro */
    border-bottom: 3px solid #10b981; 
    display: inline-block;
    padding-bottom: 10px;
}

.destaques, 
.noticias, 
.eventos {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#destaques-container, 
#noticias-container, 
#eventos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.botao-ver-mais {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 15px 0;
    background-color: #10b981; 
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.botao-ver-mais:hover {
    background-color: #064e3b; /* Escurece o botão no hover */
}

/* Contatos */
footer {
    background-color: #10b981; 
    padding: 8px 0;
    color: #ffffff;
    text-align: center;
}

footer h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

footer .contact-info {
    margin-bottom: 20px;
}

footer .contact-info p {
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

footer .social-icons a:hover {
    transform: scale(1.2);
}

footer p {
    font-size: 0.9rem;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    main {
        width: 90%;
    }

    h2 {
        font-size: 1.8rem;
    }

    .botao-ver-mais {
        font-size: 1rem;
        padding: 12px;
    }
}

.dudu{
    width: 140px;
    height: 70px;
}