body{
    background-color: white;
}
header{
        border: #4CAF50 1px;
        background-color: #4CAF50;
        text-align: center;
        height: 80px;
        width: auto;
        overflow: hidden;
}
header:hover{
    transition: 1s ease-in-out;
    height: 120px;
    border-end-start-radius: 20%;
    border-end-end-radius: 20%;
    box-shadow: 4px 7px 5px #4CAF50;
    text-shadow: 
    0 0 10px #232f3f,
    0 0 20px #666,
    0 0 30px #333;

}
nav li {
    text-decoration: none;
    list-style: none;
    display: inline;
}
nav a{
    border: solid #4CAF50 1px;
    text-decoration: none;
    display: inline;
    color: white;
    margin-left: 30px;
}
a:hover{
    transition: 0.5s ease-in-out;
    font-size: 29px;
}
main{
    border: white 1px;
    background-color: white;
}
footer{
    border: white ;
    background-color: #4CAF50;
}
section{
    border: white 1px solid;
    background-color: white ;
}
img{
    width: 300px;
    height: 300px;
    margin: 15px;
}
img:hover{
    transition: 1s;
    transform: scale(1.2);
    opacity: 0.5;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    #destaques-container, #noticias-container, #eventos-container {
        grid-template-columns: 1fr;
    }

    .botao-ver-mais {
        width: 100%;
    }
}
.noticia {
    position: relative;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.noticia img {
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.noticia img:hover {
    transform: scale(1.05);
}

.tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.noticia:hover .tooltip {
    visibility: visible;
    opacity: 1;
}